# Code with AI
.cwai
specs
.specs

# Env
.env*
!.env.example

# Bootstrap files
_install/__pycache__/

# Python
.venv
*.egg-info/
dist/
*.egg

# Node modules
node_modules/
package-lock.json
package.json
.jscpd/html/

# Cache folders
.cache/
.task/

# Build Folders
/build
/Release

# Dependencies folder (Conan output)
/lib

# Generated Documentation
/docs-html/
/site/

# Build Systems
.xmake
bazel-*
BUILD.xmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Coverage files
.coverage
*.gcov
