name: CI Validate & Build

on:
  workflow_call:
    inputs:
      os:
        description: "Operating system to run on"
        required: false
        type: string
        default: "ubuntu-latest"

jobs:
  validate:
    runs-on: ${{ inputs.os }}
    strategy:
      matrix:
        build_system: ${{ fromJSON(inputs.build_system) }}
    steps:
      - uses: go-task/setup-task@v1

      - name: Install Mise (Darwin & Linux)
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl https://mise.run | sh

      - name: Install Mise (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          choco install mise -y --force

      - run: mise install

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test Code Formatting
        run: task format:check

      - name: Lint Code
        run: task clean:${{ matrix.build_system }} lint:check CPP_BUILD_SYSTEM=${{ matrix.build_system }}

      - name: Test
        run: task clean:${{ matrix.build_system }} test CPP_BUILD_SYSTEM=${{ matrix.build_system }}

  duplicate-check:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/setup-node@v5
        with:
          node-version: 22

      - uses: astral-sh/setup-uv@v6

      - uses: go-task/setup-task@v1

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run duplicate check
        run: task duplicate-check

  build:
    runs-on: ${{ inputs.os }}
    strategy:
      matrix:
        llvm_version: ${{ fromJSON(inputs.llvm_versions) }}
        build_system: ${{ fromJSON(inputs.build_system) }}
    needs: validate
    steps:
      - uses: go-task/setup-task@v1

      - if: ${{ runner.os != 'Windows' }}
        run: curl https://mise.run | sh

      - if: ${{ runner.os == 'Windows' }}
        run: choco install mise -y --force

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: mise install

      - name: Test Depdendencies
        run: |
          mise exec -- xmake --version
